@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}

.topic {
  margin: 20px;
}

.topicBottom {
  margin: 20px;
  margin-bottom: 50px;
}

.topicTop {
  margin: 20px;
  margin-top: 50px;
}

h2 {
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  color: #27167a;
  padding-bottom: 2px;
}

p, a {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: black;
}

#header {
  background-color: #27167a;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../img/bg.png");
}

.logo {
  width: 300px;
}

#logoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#sec1 {
  padding: 0 8% 0 8%;
  background-color: #ebe8fa;
  color: #f6f6f6;
  justify-content: center;
  align-content: center;
}

#telaInicial {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button {
  background-color: #e06631;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6%;
  border-radius: 15px;
  width: 150px;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.75);
  font-size: 1.5em;
}

.button > img {
  height: 29px;
}

a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 10px;
}

footer {
  padding: 0 8% 0 8%;
  background-color: #1D0D6D;
  max-height: 700px;
}

.footerInfo {
  padding: 2% 0 2% 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footerInfo > p,.footerInfo2 > p {
  color: #f6f6f6;
  font-size: 15px;
}

.footerInfo2 {
  padding: 1% 0 2% 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#link {
  font-size: 16px;
}

hr {
  border-color: #e06631;
}

@media (max-width: 760px) {
  .button {
    border-radius: 11px;
    width: 130px;
    box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 8px;
    font-size: 18px;
  }

  .button > img {
    height: 23px;
  }

  footer {
    padding: 0 8% 0 8%;
    height:fit-content;
    max-height: 700px;
  }

  .footerInfo {
    padding: 2% 0 2% 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .footerInfo2 > p, a {
    color: #f6f6f6;
    font-size: 13px;
    padding-bottom: 3%;
  }

  .footerInfo > p {
    color: #f6f6f6;
    font-size: 15px;
    padding-bottom: 6%;
  }

  .footerInfo2 {
    padding: 3% 0 3% 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .logo {
    width: 270px;
  }

  .footerInfo > .logo {
    width: 200px;
    padding: 6% 0 6% 0;

  }
}
